<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar"
        android:supportsRtl="true">

        <!-- Login (Launcher Activity) -->
        <activity
            android:name=".activityfiles.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Player Home -->
        <activity
            android:name=".activityfiles.PlayerHomeActivity"
            android:exported="false" />

        <!-- Game Details -->
        <activity
            android:name=".GameDetailsActivity"
            android:exported="false" />

        <!-- Registration -->
        <activity
            android:name=".activityfiles.Registration"
            android:exported="false" />

    </application>

</manifest>
